/* INTRO SECTION */
#introContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 45px;
}

#introText,
#introImage {
    flex: 1;
}

#introText p {
    font-size: 2vw;
    padding: 0px;
    margin: 10px;
    color: var(--primary);
}

#introText h2 {
    font-size: 6vw;
    padding: 0px;
    margin: 0px;
    color: var(--secondary);
}

#introImage {
    max-width: 100%;
    display: flex;
    justify-content: right;
}

#introImage img {
    width: 70%;
    border-radius: 50% 50% 3% 3%;
    box-shadow: 0 5px 20px grey;
}

#arrow {
    width: 7%;
    min-width: 40px;
    position: relative;
    top: 50px;
    z-index: 4;
}

/* Wave */
.wave {
    position: relative;
    width: 99vw;
    height: 20vh;
    overflow: hidden;
}

.air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 150px;
}

.reflection {
    transform: scaleY(-1);
    position: absolute;
    top: -35px;
    mask-image: linear-gradient(to top, white, transparent);
}

.air.air1 {
    animation: wave 20s linear infinite;
    z-index: 3;
    opacity: 0.75;
    animation-delay: 0s;
    bottom: 0;
}

.air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 2;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.air.air3 {
    animation: wave3 10s linear infinite;
    z-index: 1;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

@keyframes wave3 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* ABOUT SECTION */
#about {
    background-color: rgba(250,250,250,0.5);
    z-index: 0;
    padding: 13%;
    border-radius: 500px 600px 700px 600px;
    animation: bubble 20s linear infinite;
    margin-bottom: 50px;
}

#about p {
    font-size: 20px;
    line-height: 27px;
    color: var(--quarternary);
}

@media screen and (max-width: 970px) {
    #introContainer {
        flex-direction: column-reverse;
        align-content: center;
    }

    #introImage img {
        margin: auto;
        width: 100%;
        max-width: 475px;
    }

    #introText {
        text-align: center;
        padding-top: 10px;
        max-width: 475px;
    }

    #introText p {
        font-size: 4vw;
        text-align: left;
    }

    #introText h2 {
        font-size: 10vw;
        text-align: left;
        padding-left: 10px;
    }
}