/* RESUME SECTION */

#resumeBody {
    max-width: inherit;
    padding-bottom: 100px;
}

h5 {
    font-size: 20px;
    margin: 0;
    padding: 5px;
}

.proficienciesCategories,
#resumeLink {
    padding: 100px;
    display: flex;
    background-color: rgba(250, 250, 250, 0.25);
    animation: bubble 10s linear infinite;
}

/* View my resume */
#resumeIcon {
    width: 6vw;
    min-width: 70px;
}

#resumeLink {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#resumeLink a {
    background-color: var(--secondary);
    padding: 15px 10%;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    margin-left: 15px;
    color: var(--quarternary);
    font-weight: bold;
}

/* At a glance */

.proficienciesCategories:first-child{
    animation-delay: -5s;
}

.proficienciesCategories {
    flex-direction: column;
    font-size: 1em;
    padding-bottom: 30px;
    margin-bottom: 25px;
}

.iconList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.iconItem {
    min-width: 70px;
    max-width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    padding: 0;
    align-self:baseline;
}

.iconItem img {
    width: 100%;
}


@media screen and (max-width: 970px) {
    #resumeBody {
        width: 100%;
    }

    .proficienciesCategories{
        margin:0;
        padding:20%;
    }

    .iconList {
        grid-template-columns: repeat(3, 1fr);
    }

    .resumeIcon {
        max-width: 35%;
    }

    .resumeText {
        min-width: 200px;
    }

    #resumeLink a {
        text-align: center;
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    #resumeLink a {
        text-align: center;
        font-size: 16px;
        padding: 10px;
        transition: all 2s ease;
    }

    .resumeText {
        width: 100%;
    }

    .iconList {
        grid-template-columns: repeat(2, 1fr);
    }
}