:root {
  --primary: white;
  --secondary: #F5EE84
}

#pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 13vw;
  margin-right: 13vw;

}

h3 {
  color: var(--secondary);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

/* NAV BAR */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-size: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

nav li {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}


/* INTRO SECTION */
#introContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 65px 0;
}

#introText,
#introImage {
  flex: 1;
  /* Equal width for both text and image containers */
}

#introText p {
  font-size: 2vw;
  padding: 0px;
  margin: 10px;
}

#introText h2 {
  font-size: 6vw;
  padding: 0px;
  margin: 0px;
  color: var(--secondary);
}

#introImage {
  max-width: 100%;
  display: flex;
  justify-content: right;
}

#introImage img {
  width: 70%;
  border-radius: 50% 50% 3% 3%;
}

#arrow {
  width: 7%;
  margin-top: 50px;
}

/* ABOUT SECTION */
#about {
  margin: 100px 0;
}

#about p {
  font-size: 20px;
  line-height: 27px;
}

/* RESUME SECTION */

#resumeOverview {
  width: 100%;
}

h3 {
  margin: 0px;
}

#proficiencies,
#resume {
  border: solid var(--secondary) 2px;
  display: flex;
  flex-direction: row;
}

h5,
ul {
  font-size: 20px;
  margin: 2px;
  line-height: normal;
}

ul {
  padding-left: 20px;
}

.resumeIcon {
  width: 180px;
  height: fit-content;
}

.proficienciesCategories {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  padding: 55px;
  font-size: 20px;
  align-items: center;
}

#backend {
  text-align: left;
}

#resumeIcon {
  width: 90px;
}

#resume {
  justify-content: center;
  align-items: center;
  padding: 55px;
  margin-top: 30px;
}

#resume a {
  background-color: var(--secondary);
  padding: 15px 10%;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  margin-left: 15px;
  color: black;
  font-weight: bold;
}