:root {
  --primary: white;
  --secondary: #f5ee84;
  --tertiary: black;
  --background: #1e1e1e;
}

#pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13vw;
  margin-right: 13vw;
  position: relative;
  min-height: 60vh;
}

h3 {
  color: var(--secondary);
  padding: 20px 0;
  font-size: 20px;
  margin: 0;
}

#upArrow {
  position: fixed;
  bottom: 15%;
  width: 35px;
  right: 10%;
  transition: width 2s linear 1s;
  z-index: 1;
}

/* NAV BAR */
header {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

#menuIcon {
  width: 30px;
  display: none;
  margin-right: 0;
  margin-left: auto;
}

h1 {
  font-size: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

nav li {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}

.active {
  text-shadow: 0px 0px 10px var(--secondary);
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}

/* INTRO SECTION */
#introContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 65px 0;
}

#introText,
#introImage {
  flex: 1;
  /* Equal width for both text and image containers */
}

#introText p {
  font-size: 2vw;
  padding: 0px;
  margin: 10px;
}

#introText h2 {
  font-size: 6vw;
  padding: 0px;
  margin: 0px;
  color: var(--secondary);
}

#introImage {
  max-width: 100%;
  display: flex;
  justify-content: right;
}

#introImage img {
  width: 70%;
  border-radius: 50% 50% 3% 3%;
}

#arrow {
  width: 7%;
  margin-top: 50px;
}

/* ABOUT SECTION */
#about {
  margin: 100px 0;
}

#about p {
  font-size: 20px;
  line-height: 27px;
}

/* RESUME SECTION */

#resumeOverview {
  max-width: inherit;
  padding-bottom: 100px;
}

#proficiencies,
#resume {
  border: solid var(--secondary) 2px;
  padding: 55px;
  display: flex;
}

.listBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h5,
ul {
  font-size: 20px;
  margin: 0;
  padding: 5px;
}

ul {
  padding-left: 20px;
}

.resumeIcon {
  width: 15vw;
  min-width: 100px;
  height: fit-content;
  padding-right: 20px;
}

.proficienciesCategories {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 20px;
}

#resumeIcon {
  width: 6vw;
  min-width: 70px;
}

#resume {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#resume a {
  background-color: var(--secondary);
  padding: 15px 10%;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  margin-left: 15px;
  color: var(--tertiary);
  font-weight: bold;
}

/* WORK SECTION */
#h3Work {
  margin-left: 20px;
}

.projects {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.imgContainer {
  width: 52%;
  position: relative;
  margin: auto 20px;
}

.workImg {
  width: 100%;
  height: auto;
  max-width: 100%;
  /* Ensure the image doesn't exceed its container */
  aspect-ratio: 16 / 9;
}

.workText {
  width: 48%;
  margin: 50px 20px;
}

.workTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.workTitle h5 {
  white-space: nowrap;
  flex: 1;
}

.workTitle hr {
  width: 100%;
  height: 0px;
  margin: 0 20px;
}

#keyTechnologies {
  color: var(--secondary);
}

.workButtons {
  display: flex;
  flex-direction: row;
}

.workButtons button {
  border: none;
  border-radius: 3px;
  background: grey;
  width: 120px;
  padding: 7px;
  margin: 20px;
  color: white;
  flex: 1;
}

/* WORK SECTION-VideoPlayerModal */
dialog {
  background: none;
  border: none;
  overflow: hidden;
}

.videoContainer {
  width: 70vw;
}

video {
  width: 100%;
  height: auto;
}

/* CONTACT SECTION */
#contact {
  width: 100%;
  background: var(--background);
}

#contact section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: left;
}

input,
textarea,
#contact button {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px;
  margin: 5px 0;
  font-size: 15px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input,
textarea {
  background: var(--tertiary);
}

#contact button {
  background: grey;
  width: 120px;
  padding: 7px;
  margin-top: 10px;
}

#contact p {
  padding: 0;
  margin: 0;
}

/* FOOTER SECTION */
footer {
  background: var(--tertiary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  position: relative;
  bottom: 0;
  z-index: 0;
}

.icon {
  width: 30px;
  height: auto;
  margin: 10px;
}

@media screen and (max-width: 970px) {
  #menuIcon {
    display: flex;
  }

  header {
    width: inherit;
    flex-flow: row wrap;
  }

  nav {
    width: 100vw;
    text-align: center;
  }

  nav ul {
    padding: 0;
    display: none;
    flex-direction: column;
  }

  nav ul li {
    padding: 0;
    border-bottom: 1px solid white;
    transition: all 2s ease-out;
  }

  #introContainer {
    flex-direction: column-reverse;
    align-content: center;
  }

  #introImage img {
    margin: auto;

  }

  #introText {
    text-align: center;
    width: 75%;
    padding-top: 10px;
  }

  #introText p {
    font-size: 3vw;
    text-align: left;
  }

  #introText h2 {
    font-size: 9vw;
    text-align: left;
    padding-left: 10px;
  }

  .projects:nth-child(odd) {
    flex-direction: column;
  }

  .projects:nth-child(even) {
    flex-direction: column-reverse;
  }

  .imgContainer,
  .workText {
    width: inherit;
  }

  .workText hr {
    display: none;
  }

  .workText {
    margin-top: 16px;
  }

  #resumeOverview {
    min-width: 75%;

  }

  #proficiencies {
    flex-direction: column;
  }

  .proficienciesCategories:first-child {
    margin-bottom: 50px;
  }

  .listBody {
    flex-direction: column;
    margin: 20px;
    width: inherit;
  }

  .resumeText {
    width: 100%;
  }

  #resume a {
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  header {
    width: inherit;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  h1 {
    text-align: center;
  }

  #menuDiv {
    display: flex;
    width: 100vw;
  }

  #menuIcon {
    margin: auto;
    padding-bottom: 20px;
  }

  #resume a {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    transition: all 2s ease;
  }
}