:root {
  background: linear-gradient(111deg, #84ceeb, #9e7ade, #84ceeb, #c1c8e4);
  background-size: 300% 300%;

  -webkit-animation: Gradation 15s ease infinite;
  -moz-animation: Gradation 15s ease infinite;
  animation: Gradation 15s ease infinite;
  /* #1E1E1E; 
    --primary: white;
    --secondary: #f5ee84;
    --tertiary: black;
    --background: #1e1e1e;
    color: white;
  */
  color: white;
  --primary: white;
  --secondary: #f5ee84;
  --tertiary: rgba(52, 60, 89, 0.5);
  --quarternary: rgb(19, 44, 133);
  box-sizing: border-box;
}

a {
  color: white;
}

::placeholder {
  color: rgba(250, 250, 250, 0.5);
}

button {
  background-color: #797798;
  color: var(--primary);
  width: 120px;
  border: none;
  border-radius: 3px;
  padding: 7px;
  margin: 5px 0;
  font-size: 15px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

button:hover{
  background-color: #716f8a;
}

button, #upArrow, #arrow {
    cursor: pointer;
}

#pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13vw;
  margin-right: 13vw;
  position: relative;
  min-height: 60vh;
}

h3 {
  color: var(--secondary);
  padding: 20px 0;
  font-size: 20px;
  margin: 0;
}

#upArrow {
  position: fixed;
  bottom: 15%;
  width: 40px;
  right: 10%;
  transition: width 2s linear 1s;
  z-index: 1;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@-webkit-keyframes Gradation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes bubble {
  0% {
    border-radius: 500px 600px 700px 600px;
  }

  33% {
    border-radius: 600px 400px 500px 500px;
  }

  66% {
    border-radius: 400px 700px 600px 400px;
  }

  100% {
    border-radius: 500px 600px 700px 600px;
  }
}

/* canvas {
  position: absolute;
  top:0;
  z-index: -1;
} */