:root {
  background-color: #1E1E1E;
  color: white;
  box-sizing: border-box;
  --primary: white;
  --secondary: #f5ee84;
  --tertiary: black;
  --background: #1e1e1e;
}

a {
  color: white;
}

#pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13vw;
  margin-right: 13vw;
  position: relative;
  min-height: 60vh;
}

h3 {
  color: var(--secondary);
  padding: 20px 0;
  font-size: 20px;
  margin: 0;
}

#upArrow {
  position: fixed;
  bottom: 15%;
  width: 35px;
  right: 10%;
  transition: width 2s linear 1s;
  z-index: 1;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}